name: Docker Image CI

on:
  push:
    branches: [ master, main ]

jobs:

  build:

    runs-on: ubuntu-latest
    env:
      DOCKER_TARGET_PLATFORM: linux/arm64,linux/amd64

    steps:
      - name: Checkout the code
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
    
      - name: Debug
        run: |
          echo "Building repo for: ${{ vars.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_HUB_REPOSITORY }}:$GITHUB_SHA ($DOCKER_TARGET_PLATFORM)"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Run Buildx (push image)
        run: |
          docker buildx build \
            --platform ${{ env.DOCKER_TARGET_PLATFORM }} \
            --tag docker.io/${{ vars.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_HUB_REPOSITORY }}:$GITHUB_SHA \
            --tag docker.io/${{ vars.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_HUB_REPOSITORY }}:latest \
            --file ./Dockerfile \
            --cache-from=type=gha \
            --cache-to=type=gha,mode=max \
            --output type=image,push=true .
